.card {
  width: 100%;
  border: 1px solid #f86c19;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .card {
    padding: 10px;
  }
}
